<div class="row">
  <div class="col-lg-12">
    <h1>Students Importer</h1>
    <p>Instructions:</p>
    <ul>
      <li>Click on the browse button to select csv files to import (you can select multiple files)</li>
      <li>Existing student numbers will have their associated name and surname updated based on the latest import</li>
      <li>Students can only have 1 active grade per course and as such the latest import grade will apply</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <label>Student Csv Files</label>
      <div class="custom-file">
        <input #file type="file" id="customFile" accept=".csv" multiple (change)="uploadFile(file.files, $event)" />
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
  </div>
  <div class="col-lg-12" [hidden]="!successfullImport">
    <span class="label">Successfully Imported csv's</span>
  </div>
</div>


<div class="row" [hidden]="rowData.length <= 0">
  <div class="col-lg-12">
    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
      [columnDefs]="columnDefs" [pagination]="true">
    </ag-grid-angular>
  </div>
</div>
